$red: #a94442;
$dark_purple: #424CB3;
$light_purple: #7463D1;

* {
  box-sizing: border-box;  
}
.App {
    max-width: 650px;                     
    margin: 0 auto;
    
    p, label {
        text-align: center;
        font-weight: 500;
        font-size: 15px;
    }
}

form {

    margin-top: 50px;

    input[type=text],input[type=email], input[type=tel], select, input[type=date], textarea {
        width: 100%;                     
        padding: 4px 10px;            
        border: 1px solid #ccc;                     
        border-radius: 4px;                     
        box-sizing: border-box;                     
        margin-top: 6px;                     
        resize: vertical;
        border-radius: 11px;
        margin-top: 2px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
        
        &:focus{
            outline: none;
        }
    } 
    
    select {
        height: 30px;
    }
               
    input[type=submit] {   
        width: 100%; 
        color: white;
        background: linear-gradient(180deg, $dark_purple, $light_purple);
        color: white;
        padding: 4px 19px;
        border-radius: 14px;
        width: 100px;

        &:hover {
            color: white;
            cursor: pointer;
            background: $dark_purple;
        }
    } 

    .error {
        color: $red;
    }
}      

#accordion {
    box-shadow: 0px 0px 7px 2px #0000004d;
    border-radius: 5px;
    border: 2px solid white;

    .card {

        border: none;
    
        .card-header {
            background: linear-gradient(180deg, #FAC70F, #EEA40E);
            border: 2px solid white;
            border-radius: 10px;
    
            h5 a {
                color: white;
                text-decoration: none;
                text-shadow: 1px 1px 3px black;
    
                &:hover {
                    color: white !important;
                }
            }
        }
    
        .form-section {
            background: #DEDEDE;
            border: 2px solid white;
            border-radius: 10px;
    
            label {
                margin: 0;
                font-size: 15px;
                color: black;
            }
    
            a {
                background: linear-gradient(180deg, $dark_purple, $light_purple);
                color: white;
                padding: 4px 19px;
                border-radius: 14px;
                width: 100px;
                margin-bottom: 5px;
    
                &:hover {
                    color: white;
                    cursor: pointer;
                    background: $dark_purple;
                }
            }
        }
    }
    
}

